[Desktop Entry]
Name=dosemu
Comment=A DOS emulator
Comment[pl]=Emulator DOS-a
Exec=xdos
Terminal=false
Type=Application
Categories=Utility;Emulator;
# vi: encoding=utf-8
