[Desktop Entry]
Encoding=UTF-8
Name=dosemu
Comment=A DOS emulator
Comment[pl]=Emulator DOS-a
Exec=xdosemu
Terminal=false
Type=Application
Categories=Utility;Emulator;
# vi: encoding=utf-8
